<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Customize the scroll-bar</title>

    <style media="screen">
        body {
            background-image: linear-gradient(to right, gray, white);
        }
    </style>
</head>

<body>
    <center>
        <h1 style="color:Black;"> SFSU Campus Map </h1>

        <div>
            <!-- Google Map Copied Code -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3155.8094989878605!2d-122.48212918462688!3d37.724149179768645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7db005c0e281%3A0xa57a7c9f946a45d3!2sSan%20Francisco%20State%20University!5e0!3m2!1sen!2sus!4v1617516271836!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </center>
</body>

</html>