{% extends 'nav.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title> Profile Pan </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="/static/profile.css" rel="stylesheet">
</head>

<body>

<div class="container">
  <div class="w3-card-4 w3-sand w3-center" style="width:100%">

    <div class="w3-container w3-center">
      <h3>Yongjian Pan</h3>
      <h5>Hi, my name is Yongjian Pan. I'm currently a software engineer in-training taking a
          software engineering class learning and integrating Amazon AWS, MySQL, NGINX, Python, and Flask to build
          and develop a team final project!</h5>
      <h5>I'm currently working on a software team project (in teams of 6 students) where I engage
          in a team project in order to experience and practice key aspects of full software engineering lifecycle
          in settings that simulates small software engineering company.</h5>

    </div>
  </div>

</div>



</body>

</html>
{% endblock %}